<div class="row">
			<div class="col-xs-3"><label>Scene:</label></div>
			<div class="col-xs-8">{{shot.scene}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Story day:</label></div>
			<div class="col-xs-8">{{shot.storyDay}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Time to shoot:</label></div>
			<div class="col-xs-8">{{shot.timeToShoot}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Shot duration:</label></div>
			<div class="col-xs-8">{{shot.shotDuration}}</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<button class="btn btn-danger" type="button" ng-click="deleteShot({ shot: shot })">Delete Shot</button>
			</div>
			<div class="clearfix"></div>
		</div>