<!--<md-list-item class="md-2-line">-->
<md-card>
	<md-card-content>
		<div layout="row">
			<div style="width: 225px"><!--<div style="width:225">-->
				<img ng-src="http://www.metaphorcreative.us/smpdev/www/images/{{shot.shotImage}}" 
					 alt="{{shot.scene}}" width="100%"/>
			</div>
			<div layout="row" flex>
				<div layout="column" flex="50">
					<div layout="row" style="margin-bottom: 5px">
						<label flex="35" class="form-control-static text-right" style="margin-left: 10px; margin-right: 5px">Shot ID: </label>
						<input flex="65" type="text" ng-model="shot.shotID" class="form-control" ng-blur="editShot({ shot: shot })" />
					</div>
					<div layout="row" style="margin-bottom: 5px">
						<label flex="35" class="form-control-static text-right" style="margin-left: 10px; margin-right: 5px">Story day: </label>
						<input flex="65" type="text" ng-model="shot.storyDay" class="form-control" ng-blur="editShot({ shot: shot })" />
					</div>
					<div layout="row">
						<label flex="35" class="form-control-static text-right" style="margin-left: 10px; margin-right: 5px">Shot duration: </label>
						<input flex="65" type="text" ng-model="shot.shotDuration" class="form-control" ng-blur="editShot({ shot: shot })" />
					</div>
				</div>
				<div layout="column" flex="50">
					<div layout="row" style="margin-bottom: 5px">
						<label flex="35" class="form-control-static text-right" style="margin-left: 10px; margin-right: 5px">Scene: </label> 
						<input flex="65" type="text" ng-model="shot.scene" class="form-control" ng-blur="editShot({ shot: shot })" />
					</div>
					<div layout="row">
						<label flex="35" class="form-control-static text-right" style="margin-left: 10px; margin-right: 5px">Time to shoot: </label> 
						<input flex="65" type="text" ng-model="shot.timeToShoot" class="form-control" ng-blur="editShot({ shot: shot })" />
					</div>
				</div>
			</div>
			<div class="text-right" style="width: 60px">
				<button class="btn btn-default" type="button" ng-click="deleteShot({ shot: shot })">
					<i class="fa fa-remove text-danger"></i>
				</button>
			</div>
		</div>
	</md-card-content>
</md-card>
