<div class="row">
			<div class="col-xs-3 form-control-static"><label>Shot ID:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.shotID" /></div>
			<div class="clearfix"></div>
		</div>
<div class="row">
			<div class="col-xs-3 form-control-static"><label>Scene:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.scene" /></div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-control-static"><label>Story day:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.storyDay" /></div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-control-static"><label>Time to shoot:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.timeToShoot" /></div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-control-static"><label>Shot duration:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.shotDuration" /></div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-xs-3 form-control-static"><label>Image:</label></div>
			<div class="col-xs-8"><input class="form-control" type="text" ng-model="shot.shotImage" /></div>
			<div class="clearfix"></div>
		</div>
		