.content-group {
	margin-bottom: 15px;
}

main {
	background-color: #eee;
}

md-content {
	background-color: #eee;
}

ul.nav {
	list-style: none;
	display: inline-block;
}

ul.nav li {
	display: inline-block;
}