<div class="row">
	<div class="col-xs-3 form-control-static"><label>First Name:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.firstName" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>Last Name:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.lastName" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>E-mail:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.email" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>Phone:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.phone" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>Street Address:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.streetAddress" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>City:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.city" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>State:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.state" /></div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<div class="col-xs-3 form-control-static"><label>Zip code:</label></div>
	<div class="col-xs-8"><input class="form-control" type="text" ng-model="contact.zipcode" /></div>
	<div class="clearfix"></div>
</div>
		