<div>
	<div class="row">
		<div class="col-xs-2">Scene:</div>
		<div class="col-xs-8"><input type="text" ng-model="shotList.scene" /></div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-xs-2">Story day:</div>
		<div class="col-xs-8"><input type="text" ng-model="shotList.storyDay" /></div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-xs-2">Time to shoot:</div>
		<div class="col-xs-8"><input type="text" ng-model="shotList.timeToShoot" /></div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-xs-2">Shot duration:</div>
		<div class="col-xs-8"><input type="text" ng-model="shotList.shotDuration" /></div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<button class="btn btn-default" type="button" ng-click="shotList.showShot()">Show Shot</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>